.btn{
    background-color: lightseagreen;
    color: white;
    border-color: lightseagreen;
}
.btn:hover{
    color: darkslategray;
    background-color: lightseagreen;
    border-color: transparent;
}

.timestamp {
    font-size: x-small;
    color: rgba(0,0,0,0.5);
}

.hide
{
    display: none;
}

.ui {
    margin: auto;
    padding-bottom: 20px;
}
